
.avatar {
  max-width: 300px;
  justify-content: center;
}

table {
  width: 100%;
  display: table;
}


table, th, td {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  border-bottom: 1px solid #d0d0d0;
  font-weight: bold;
}

table>tbody>tr:nth-child(odd) {
  background-color: #f2f2f2;
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}


.container {
  overflow: auto;
  width: 100%;
  margin-top: 64px;
}


.card-container {
  margin: 32px;

}

.card-grid {
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.card-grid:hover {
  z-index: 5;
  box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
}

.container .card-container .card-part {
  width: 100%;
  display: flex;
}

.inner-header {
  width: 50%;
}

.tile  .avatar img{
  width: 150px;
  height: 150px;
  margin-top: 0;
  margin-left: 16px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.tile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}



.tile div {
  padding: 8px;
}

.title {
  font-size: 22.5px;
  text-transform: uppercase;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stat {
  display: flex;
  justify-content: space-around;
}

.stat input {
  height: 16px;
}




