.sidenav-fab-container {
  margin-top: 64px;
  width: 100%;
  height: calc(100vh - 64px);
}

.sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.sidenav-fab-container .mat-sidenav-content,
.sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.bottom-button{
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.sidenav-fab-container .hero-card {

  margin: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-align-content: flex-end;
  align-content: flex-end;
  */
}

.avatar {
  max-width: 300px;
  justify-content: center;
}

.stats_table {
  width: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;

}

.stats_table thead {
  display: table-header-group;
  vertical-align: middle;
}


.stats_table tr {
  display: table-row
}

.stats_table th {
  font-weight: bold;
  font-weight: normal;
  padding: 20px 30px;
  text-align: center;
}

.stats_table tbody {
  display: table-row-group;
  vertical-align: middle;
}

.stats_table th, .stats_table td {
  line-height: 21px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #ddd;
  background-color: rgb(238, 238, 238);
  color: rgb(111, 111, 111);
  padding: 20px 30px;
}


.container {
  overflow: auto;
  width: 100%;
}


.card-container {
  margin: 32px;


}

.card-grid {
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.card-grid:hover {
  z-index: 5;
  box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
}

.container .card-container .card-part {
  width: 100%;
  display: flex;
}

.inner-header {
  width: 50%;
}

.tile  .avatar img{
  width: 150px;
  height: 150px;
  margin-top: 0;
  margin-left: 16px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.tile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}



.tile div {
  padding: 8px;
}

.title {
  font-size: 22.5px;
  text-transform: uppercase;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stat {
  display: flex;
  justify-content: space-around;
}


