<md-sidenav-container class="sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="false" class="inner-side-nav">
    <div>
      <md-list>
        <h3 md-subheader>Folders</h3>
        <md-list-item>
          <md-icon md-list-icon>folder</md-icon>
          <h4 md-line>Folder 1</h4>
          <p md-line> oui </p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
          <md-icon md-list-icon>folder</md-icon>
          <h4 md-line>Folder 2</h4>
          <p md-line> non </p>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
    </div>
  </md-sidenav>
  <md-card class="action-bar">
    <span class="spacer"></span>
    <span>
      <md-select placeholder="Paramètre de recherche" [(ngModel)]="selectedParam" name="searchParam">
        <md-option *ngFor="let param of params" [value]="param.key">
          {{param.value}}
        </md-option>
      </md-select>
    </span>
    <span *ngIf="selectedParam === 'stats'">
      <md-select *ngIf="selectedParam === 'stats'" placeholder="Valeur de recherche"
                 [(ngModel)]="selectedStat" name="searchValue">
        <md-option *ngFor="let stat of stats" [value]="stat.key">
          {{stat.value}}
        </md-option>
      </md-select>
    </span>
    <span *ngIf="selectedParam === 'name'">
      <md-input-container>
        <input mdInput placeholder="Nom" [(ngModel)]="selectedValue" (input)="filterByName()">
      </md-input-container>
    </span>
    <span *ngIf="selectedValue">
      {{selectedValue}}
    </span>
    <span *ngIf="selectedStatValue">
      {{selectedStatValue}}
    </span>
    <span *ngIf="selectedStat">
      <md-slider (change)="filterByStat()"
        class="slider"
        color="primary"
        [disabled]="slider['disabled']"
        [invert]="slider['invert']"
        [max]="slider['max']"
        [min]="slider['min']"
        [step]="slider['step']"
        [thumb-label]="slider['thumbLabel']"
        [tick-interval]="slider['tickInterval']"
        [(ngModel)]="selectedStatValue"
        [vertical]="slider['vertical']">
      </md-slider>
    </span>
    <span class="spacer"></span>
    <span>
        <button color="primary" class="button-link" md-button> <md-icon class="example-icon">search</md-icon> </button>
    </span>
  </md-card>
  <div class="scrolling-content">
    <md-card class="card-container">
      <md-card *ngFor="let hero of heroes" class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image">
            <img *ngIf="hero.job === 'Guerrier' " md-card-image src="assets/images/guerrier.gif">
            <img *ngIf="hero.job === 'Mage' " md-card-image src="assets/images/mage.jpg">
            <img *ngIf="hero.job === 'Voleur' " md-card-image src="assets/images/thief.jpg">
          </div>
          <md-card-title>{{hero.name}}, niveau : {{hero.level}}</md-card-title>
          <md-card-subtitle>{{hero.race}} {{hero.job}}</md-card-subtitle>
        </md-card-header>
        <img *ngIf="hero.job === 'Guerrier' " md-card-image src="assets/images/guerrier.gif">
        <img *ngIf="hero.job === 'Mage' " md-card-image src="assets/images/mage.jpg">
        <img *ngIf="hero.job === 'Voleur' " md-card-image src="assets/images/thief.jpg">
        <md-card-content>
          <table class="stats_table">
            <thead>
            <tr>
              <th>COU</th>
              <th>INT</th>
              <th>CHA</th>
              <th>AD</th>
              <th>FOR</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{hero.stats.bravery}}</td>
              <td>{{hero.stats.intelligence}}</td>
              <td>{{hero.stats.charisma}}</td>
              <td>{{hero.stats.dexterity}}</td>
              <td>{{hero.stats.strength}}</td>
            </tr>
            </tbody>
          </table>
        </md-card-content>
        <md-card-actions>
          <a (click)="gotoDetail(hero)">
            <button class="button-link" md-button>DETAILS</button>
          </a>
        </md-card-actions>
      </md-card>
    </md-card>
  </div>
</md-sidenav-container>
<div class="bottom-button">
  <button md-mini-fab class="fab" (click)="sidenav.toggle()">
    <md-icon>add</md-icon>
  </button>
</div>
