.sidenav-fab-container {
  margin-top: 64px;
  width: 100%;
  height: calc(100vh - 64px);
}

.sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.sidenav-fab-container .mat-sidenav-content,
.sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.scrolling-content {
  overflow: auto;
  width: 100%;
}



.fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.bottom-button{
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.example-card {
  width: 256px;
  margin: 16px 16px !important;
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.example-card:hover {
  z-index: 5;
  box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
}

.example-header-image {
  background-size: cover;
  overflow: hidden;
}


.sidenav-fab-container .card-container {

  margin: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.stats_table {
  width: 100%;
  margin-bottom: 21px;
}

.stats_table thead {
  display: table-header-group;
  vertical-align: middle;
}


.stats_table tr {
  display: table-row
}

.stats_table th {
  font-weight: bold;
}

.stats_table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.stats_table th, .stats_table td {
  padding: 8px;
  line-height: 21px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.scrolling-content .example-card .button-link {
  color: #000000;
}
