<mat-sidenav-container class="sidenav-fab-container">
  <mat-sidenav #sidenavleft mode="over" opened="false">
    <div>
      <mat-list>
        <h3 mat-subheader>Folders</h3>
        <mat-list-item (click)="goToAdd()">
          <mat-icon mat-list-icon>add</mat-icon>
          <h4 mat-line>Ajouter un héros</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>Folder 2</h4>
          <p mat-line> non </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav #sidenavright mode="side" align="end" opened="false" class="side-nav-right">
    <div class="side-nav-right-container">
      <div class="side-nav-right-content">
        <div>RECHERCHE</div>
          <div>
            <mat-select placeholder="Paramètre de recherche" [(ngModel)]="selectedParam" (change)="resetParam()"
                       name="searchParam">
              <mat-option *ngFor="let param of params" [value]="param.key">
                {{param.value}}
              </mat-option>
            </mat-select>
          </div>
        <div *ngIf="selectedParam === 'stats'">
          <mat-select *ngIf="selectedParam === 'stats'" placeholder="Valeur de recherche" (change)="resetStat()"
                     [(ngModel)]="selectedStat" name="searchValue">
            <mat-option *ngFor="let stat of stats" [value]="stat.key">
              {{stat.value}}
            </mat-option>
          </mat-select>
        </div>
        <div *ngIf="selectedParam === 'name'">
          <mat-input-container>
            <input mdInput placeholder="Nom" [(ngModel)]="selectedValue" (input)="filterByName()">
          </mat-input-container>
        </div>
        <div *ngIf="selectedStat">
          <mat-slider (change)="filterByStat()"
                     class="slider"
                     color="primary"
                     [disabled]="slider['disabled']"
                     [invert]="slider['invert']"
                     [max]="slider['max']"
                     [min]="slider['min']"
                     [step]="slider['step']"
                     [thumb-label]="slider['thumbLabel']"
                     [tick-interval]="slider['tickInterval']"
                     [(ngModel)]="selectedStatValue"
                     [vertical]="slider['vertical']">
          </mat-slider>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-card class="action-bar">
    <span>
      <button mat-button (click)="sidenavleft.toggle()">
        <mat-icon color="primary">menu</mat-icon>
      </button>
    </span>
    <span class="spacer"></span>
    <span class="nav-opener">
      <button mat-button (click)="sidenavright.toggle()">
        <mat-icon color="primary">tune</mat-icon>
      </button>
    </span>
  </mat-card>
  <div class="scrolling-content">
    <mat-card class="card-container">
      <mat-card *ngFor="let hero of heroes" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img *ngIf="hero.job === 'Guerrier' " mat-card-image src="assets/images/guerrier.gif">
            <img *ngIf="hero.job === 'Mage' " mat-card-image src="assets/images/mage.jpg">
            <img *ngIf="hero.job === 'Voleur' " mat-card-image src="assets/images/thief.jpg">
          </div>
          <mat-card-title>{{hero.name}}, niveau : {{hero.level}}</mat-card-title>
          <mat-card-subtitle>{{hero.race}} {{hero.job}}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="hero.job === 'Guerrier' " mat-card-image src="assets/images/guerrier.gif">
        <img *ngIf="hero.job === 'Mage' " mat-card-image src="assets/images/mage.jpg">
        <img *ngIf="hero.job === 'Voleur' " mat-card-image src="assets/images/thief.jpg">
        <mat-card-content>
          <table class="stats_table">
            <thead>
            <tr>
              <th [class.stat-selected]="selectedStat === 'bravery'">COU</th>
              <th [class.stat-selected]="selectedStat === 'intelligence'">INT</th>
              <th [class.stat-selected]="selectedStat === 'charisma'">CHA</th>
              <th [class.stat-selected]="selectedStat === 'dexterity'">AD</th>
              <th [class.stat-selected]="selectedStat === 'strength'">FOR</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td [class.stat-selected]="selectedStat === 'bravery'">{{hero.stats.bravery}}</td>
              <td [class.stat-selected]="selectedStat === 'intelligence'">{{hero.stats.intelligence}}</td>
              <td [class.stat-selected]="selectedStat === 'charisma'">{{hero.stats.charisma}}</td>
              <td [class.stat-selected]="selectedStat === 'dexterity'">{{hero.stats.dexterity}}</td>
              <td [class.stat-selected]="selectedStat === 'strength'">{{hero.stats.strength}}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <a (click)="gotoDetail(hero)">
            <button class="button-link" mat-button>DETAILS</button>
          </a>
          <a (click)="gotoUpdate(hero)">
            <button class="button-link" mat-button>MODIFIER</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-card>
  </div>

</mat-sidenav-container>
